<div id ="container">
    <div id = "logo">
        Prognoza Pogody  
    </div> 

    <app-clock></app-clock>
    
    <div id = "dekorZmiennePogodowe">
            <div id="image">
                <img src = assets\weather.png width="220" height="200"/>
            </div>
             <div id = "R-zmiennePogodowe">
            Temperatura Max.: <br/>
            Opady:<br/>
            Prędkość Wiatru:<br/>
            Kierunek Wiatru:<br/>
            Promieniowanie UV:<br/>
            </div>
    </div>
        <div style="clear:both;"></div>

    <div id="TemperaturaOdczuwalna">
        Temperatura odczuwalna:
    </div>

    <div id = "wschodZachod">
        <img src = assets\icons8-sunrise-64.png/> Wschód Słońca:<br/>                        
        <img src = assets\icons8-sunset-64.png/> Zachód Słońca:
    </div>
    
    <button (click)="makeRequest()" > daj odpowiedź </button>

</div>    



